<footer class="footer">
    <div class="footer-top relative overflow-hidden pt-16 pb-10 bg-gray-100 text-gray-800 md:text-left text-center">
      <div class="container relative z-10 flex flex-wrap md:flex-row flex-col justify-between mb-10">
        <div class="footer-text lg:w-1/2 mr-0 md:mr-auto mb-6 lg:mb-0">
          <img src="#" class="footer-logo w-2/4 lg:mx-0 mx-auto mb-4" alt="Logo Symfony Immo">
          <p>Leader dans la commercialisation d'immobilier neuf sur Lyon et la région Rhône Alpes. Issus de la construction de maisons individuelles et de la promotion immobilière, nous sommes implantés depuis plus de 20 ans et avons pignon sur rue.</p>
        </div>
        <div class="flex flex-wrap md:flex-row flex-col flex-grow justify-between lg:pl-6">
          <div class="footer-col md:w-1/2 lg:w-1/3">
            <h5 class="footer-title text-lg font-bold mb-4">Liens utiles</h5>
            <nav class="footer-nav">
              <ul class="footer-nav__list list-none">
                <li class="my-1"><a href="/#" title="Honoraires" class="hover:underline focus:underline">Honoraires</a></li>
                <li class="my-1"><a href="/#" title="Mentions légales" class="hover:underline focus:underline">Mentions légales</a></li>
                <li class="my-1"><a href="/#" title="Blog" class="hover:underline focus:underline">Blog</span></a></li>
                <li class="my-1"><a href="/#" title="Recrutement" class="hover:underline focus:underline">Recrutement</a></li>
                <li class="my-1"><a href="/#" title="Petites annonces" class="hover:underline focus:underline">Petites annonces</a></li>
                <li class="my-1"><a href="/#" title="Glossaire" class="hover:underline focus:underline">Glossaire</a></li>
                <li class="my-1"><a href="/#" title="Plan du site" class="hover:underline focus:underline">Plan du site</a></li>
              </ul>
            </nav>
          </div>
          <div class="footer-col md:w-1/2 lg:w-2/3">
            <h5 class="footer-title text-lg font-bold mb-4">Adresse</h5>
            <address class="address not-italic">
              <span class="block mb-3">Symfony Immo<br />
              57 Avenue du Chater<br />
              69340 Francheville</span>
              <span class="block">Mail: <a href="mailto:contact@symfonyimmo.fr" title="Nous contacter">contact@symfonyimmo.fr</a></span>
              <span class="block">Tel: <a href="tel:+33400000000" title="Nous appeler">04 00 00 00 00</a></span>
            </address>
          </div>
        </div>
      </div>
      <div class="container relative z-10 mb-10 hidden md:block">
        <h5 class="footer title text-lg font-bold mb-6">Nos programmes immobiliers neufs</h5>
        <nav class="footer-menu">
          <ul class="footer-menu__nav grid md:grid-cols-2 lg:grid-cols-4 gap-4">
            {% for i in 0..10 %}
              <li>
                <i class="text-sm fas fa-chevron-right"></i>
                <a href="#" title="#" class="hover:underline focus:underline">
                  <span class="pl-1">Test</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-bottom bg-gray-200 pb-4 pt-4">
      <div class="container">
        <div class="footer-legal text-sm text-center lg:text-left">&copy; 2021 Symfony Immo. Tous droits réservés.</div>
      </div>
    </div>
  </footer>
