
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

/vendor/*
/var/cache/*
/var/log/*

/node_modules

/assets/dist/*
!controllers.json

# Useless Files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
